<div class="hm_about_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="hm_about_img">
                    {% if about.image %}
                        <img src="{{ about.image.url }}" alt="handmade-craft-about" class="img-responsive">
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="hm_about_data">
                    <h1>
                        <span class="hm_color">{{ about.title_part1 }}</span> {{ about.title_part2 }}
                    </h1>
                    <p>{{ about.paragraph_1 }}</p>
                    <p>{{ about.paragraph_2 }}</p>
                    {% if about.button_text and about.button_link %}
                        <a href="{{ about.button_link }}" class="hm_btn">{{ about.button_text }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    .hm_about_img img {
    width: 100%;
    height: auto;
    display: block;
}

/* Mobile adjustments */
@media (max-width: 767px) {
    .hm_about_img {
        position: relative;
        width: 100%;
        padding-top: 75%; /* 4:3 aspect ratio → (3/4)*100 = 75% */
        overflow: hidden; /* Ensures nothing spills */
    }

    .hm_about_img img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain; /* Show full image without cropping */
        background-color: #fff; /* Optional: fill background if aspect ratio doesn't match */
    }
}
</style>